*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #600ee4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.wrapper{
    border-radius: 10px;
    border: 1px solid black;
}
button{
    cursor:pointer;
    font-size: 20px;
    color:white;
    border: none;
    border-radius: 3px;
    background-color: #600ee4;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    list-style: none;
}
.controls li{
    cursor: pointer;
}
/* .lol{
    display: flex;
    justify-content: space-between;
} */

textarea{
    resize: none;
    height: 200px;
    border:none;
    width: 49%;
    outline: none;
    font-size: 18px;
    padding: 10px;
}
.textinput{
    display: flex;
    border-bottom: 1px solid black;
    /* border-radius: 10px 10px 10px 0px; */
}
.from-text{
    /* border-right: 1px solid black; */
}
.to-text{
    border-left: 1px solid black;
}